@import url(https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;

1,300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #151618;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.page {
  /* .page__top */
  /* .page__assortment */
  /* .page__reviews */
  /* .page__main-blog */
  /* .page__mailing-list */
  /* .page__prioritise */
}

.title {
  font-family: Cormorant;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 3.75rem;
}

.header {
  /* .header__container */
  /* .header__inner */
  /* .header__logo */
  /* .header__menu */
  /* .header__user-actions */
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8.75rem;
}

.header__logo {
  margin-bottom: 2.1875rem;
}

.header__user-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.25rem;
}

.menu {
  /* .menu__icon */
  /* .menu__body */
  /* .menu__list */
  /* .menu__item */
  /* .menu__link */
  /* .menu__close */
  /* .menu__close-btn */
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 4.0625rem;
  margin-left: 5.3125rem;
}

.menu__item {
  font-size: 1.125rem;
  font-weight: 400;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.mobail-menu {
  /* .mobail-menu__item */
  /* .mobail-menu__link */
}

.mobail-actions {
  background-color: #f7f2ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.75rem;
  padding: 0rem 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
  /* .mobail-actions__item */
  /* .mobail-actions__link */
}

.user-actions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .user-actions__item */
  /* .user-actions__link */
  /* .user-actions__item-search */
}

.user-actions__item-search {
  margin-left: 5rem;
}

.mobile-nav,
.menu__close {
  display: none;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #f7f2ea;
  /* .footer__container */
  /* .footer__inner */
  /* .footer__products */
  /* .footer__products-title */
  /* .footer__products-item */
  /* .footer__products-link */
  /* .footer__company */
  /* .footer__company-title */
  /* .footer__company-item */
  /* .footer__company-link */
  /* .footer__blockquote */
  /* .footer__blockquote-text */
  /* .footer__blockquote-author */
  /* .footer__contacts */
  /* .footer__contacts-title */
  /* .footer__contacts-text */
  /* .footer__nav */
  /* .footer__nav-logo */
  /* .footer__logo */
  /* .footer__nav-contacts */
  /* .footer__nav-phone */
  /* .footer__nav-email */
  /* .footer__social */
  /* .footer__social-list */
  /* .footer__social-item */
  /* .footer__social-link */
  /* .footer__bottom */
  /* .footer__copy */
}

.footer__inner {
  margin-bottom: 6.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 0 2.5rem;
}

.footer__products-title {
  font-family: Cormorant;
  font-size: 1.5rem;
  margin-bottom: 3.125rem;
}

.footer__products-item {
  margin-bottom: 1.25rem;
}

.footer__products-link {
  font-size: 1rem;
}

.footer__company-title {
  font-family: Cormorant;
  font-size: 1.5rem;
  margin-bottom: 3.125rem;
}

.footer__company-item {
  margin-bottom: 1.25rem;
}

.footer__company-link {
  font-size: 1rem;
}

.footer__blockquote-text {
  margin-top: 5rem;
  font-style: italic;
  margin-bottom: 1.25rem;
}

.footer__blockquote-author {
  font-size: 0.75rem;
  font-style: normal;
}

.footer__blockquote-author span {
  display: block;
  margin-top: 0.3125rem;
}

.footer__contacts-title {
  font-family: Cormorant;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3.125rem;
}

.footer__contacts-text {
  font-size: 0.8125rem;
  margin-bottom: 1.25rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__nav-logo {
  margin-right: 1.875rem;
}

.footer__nav-contacts {
  margin-top: 1.25rem;
}

.footer__nav-phone {
  display: block;
  font-size: 0.8125rem;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 1.875rem;
}

.footer__nav-phone::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.125rem;
  width: 1.3125rem;
  height: 1.3125rem;
  background-image: url("img/social/phone.svg");
}

.footer__nav-email {
  display: block;
  font-size: 0.8125rem;
  position: relative;
  padding-left: 2.1875rem;
  margin-bottom: 1.25rem;
}

.footer__nav-email::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.125rem;
  width: 1.375rem;
  height: 1rem;
  background-image: url("img/social/email.svg");
}

.footer__social {
  margin-top: 2.5rem;
  margin-left: 6.0625rem;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.25rem;
}

.footer__social-link {
  display: -ms-grid;
  display: grid;
  -webkit-transition: 500ms ease;
  transition: 500ms ease;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__copy {
  margin-right: 12rem;
  font-size: 1rem;
}

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 1.25rem;
  /* .partners-logo__item */
}

.top {
  /*background-image: url('img/Top.jpg');*/
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: cover;
  /* .top__container */
  /* .top__inner */
  /* .top__title */
  /* .top__text */
}

.top__inner {
  min-height: 31.25rem;
  color: #fff;
  font-family: Cormorant;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top__title {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
  max-width: 49.3441875rem;
  margin-bottom: 1.25rem;
}

.top__text {
  font-size: 1.5rem;
  max-width: 34.8531875rem;
  margin-bottom: 3rem;
  line-height: normal;
}

.blockquote {
  /* .blockquote__text */
}

.blockquote__text {
  font-family: Cormorant;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5rem;
  font-style: italic;
  max-width: 44rem;
  margin: 9.375rem auto;
}

.assortment {
  /* .assortment__container */
  /* .assortment__title */
  /* .assortment__list */
  /* .assortment__item */
  /* .assortment__img */
  /* .assortment__name */
}

.assortment__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  gap: 0 2.5rem;
}

.assortment__img {
  max-width: 13rem;
  max-height: 13rem;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.assortment__name {
  padding-top: 0.625rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: Cormorant;
}

.reviews {
  background-color: #f7f2ea;
  /* .reviews__container */
  /* .reviews__title */
  /* .reviews__list */
  /* .reviews__item */
  /* .reviews__text */
  /* .reviews__name */
}

.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__item {
  -ms-flex-preferred-size: 17.5rem;
      flex-basis: 17.5rem;
}

.reviews__text {
  font-size: 1rem;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 0.625rem;
}

.reviews__name {
  font-weight: 600;
}

.main-blog {
  /* .main-blog__container */
  /* .main-blog__title */
  /* .main-blog__list */
  /* .main-blog__item */
  /* .main-blog__item-img */
  /* .main-blog__item-content */
  /* .main-blog__item-title */
  /* .main-blog__item-author */
  /* .main-blog__item-link */
  /* .main-blog__link */
}

.main-blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem 3.625rem;
}

.main-blog__item {
  -ms-flex-preferred-size: 33.875rem;
      flex-basis: 33.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 1.25rem;
}

.main-blog__item-img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-blog__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-blog__item-title {
  font-family: Cormorant;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: normal;
  min-height: 5.375rem;
  margin-bottom: 0.625rem;
  min-height: auto;
}

.main-blog__item-author {
  font-size: 0.8125rem;
  font-weight: 300;
}

.main-blog__item-link {
  position: relative;
  margin-top: auto;
  font-size: 0.8125rem;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-blog__item-link::after {
  content: "";
  background-image: url("img/main-blog/icon.svg");
  width: 0.3125rem;
  height: 0.625rem;
  position: absolute;
  margin-left: 0.5rem;
  bottom: 0.125rem;
}

.main-blog__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75rem 2.5625rem;
  margin: 4.5rem auto 0;
  border: 0.0625rem solid #151618;
  width: 9.6875rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mailing-list {
  background-color: #f7f2ea;
  /*background-image: url('img/mailing/tea\ 1.png');*/
  background-repeat: no-repeat;
  background-position: bottom right;
  /* .mailing-list__container */
  /* .mailing-list__title */
  /* .mailing-list__inner */
  /* .mailing-list__text */
  /* .mailing-list__form */
  /* .mailing-list__email */
  /* .mailing-list__btn */
  /* .mailing-list__label */
}

.mailing-list__title {
  text-align: left;
  margin-bottom: 3.125rem;
}

.mailing-list__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem 2.5rem;
}

.mailing-list__text {
  line-height: 1.5;
  -ms-flex-preferred-size: 36.25rem;
      flex-basis: 36.25rem;
}

.mailing-list__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 36.25rem;
      flex-basis: 36.25rem;
}

.mailing-list__email {
  border-bottom: 0.0625rem solid #b8b58b;
  background-color: transparent;
  padding: 0.1875rem 0.9375rem;
  width: 27.375rem;
  margin-right: 1.5625rem;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #151618;
}

.mailing-list__email::-webkit-input-placeholder {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #b8b58b;
}

.mailing-list__email::-moz-placeholder {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #b8b58b;
}

.mailing-list__email:-ms-input-placeholder {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #b8b58b;
}

.mailing-list__email::-ms-input-placeholder {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #b8b58b;
}

.mailing-list__email::placeholder {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5;
  color: #b8b58b;
}

.mailing-list__btn {
  background-color: #fff;
  border: 0.0625rem solid #151618;
  padding: 0.75rem 2.5625rem;
  font-size: 1.25rem;
  font-weight: 300;
  cursor: pointer;
}

.mailing-list__label {
  margin-top: 1rem;
}

.checkbox {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  padding-left: 1.25rem;
  /* .checkbox__text */
}

.checkbox__text {
  font-size: 0.8125rem;
  padding-left: 1.25rem;
}

/*.checkbox:checked + .checkbox-style {
	background-color: red;
}*/

.checkbox:checked + .checkbox-style::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #151618;
  top: 0.0625rem;
  left: 0.0625rem;
}

.checkbox-style {
  position: absolute;
  width: 0.625rem;
  height: 0.625rem;
  border: 0.0625rem solid #151618;
  margin-top: 0.3125rem;
}

.prioritise {
  /* .prioritise__container */
  /* .prioritise__title */
  /* .prioritise__list */
  /* .prioritise__item */
  /* .prioritise__title-list */
  /* .prioritise__text */
}

.prioritise__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.875rem 3.0625rem;
}

.prioritise__title-list {
  font-size: 1.875rem;
  font-weight: 300;
  margin-bottom: 0.625rem;
}

.prioritise__text {
  font-weight: 600;
  margin-bottom: 1.875rem;
}

@media (min-width: 76.875em) {
  .header__inner {
    padding-top: 1.875rem;
  }

  .header__inner {
    padding-bottom: 1.875rem;
  }

  .footer__container {
    padding-top: 6.25rem;
  }

  .footer__container {
    padding-bottom: 1.25rem;
  }

  .assortment__container {
    padding-top: 9.375rem;
  }

  .assortment__container {
    padding-bottom: 9.375rem;
  }

  .reviews__container {
    padding-top: 3.75rem;
  }

  .reviews__container {
    padding-bottom: 3.75rem;
  }

  .main-blog__container {
    padding-top: 9.375rem;
  }

  .main-blog__container {
    padding-bottom: 9.375rem;
  }

  .mailing-list__container {
    padding-top: 6.25rem;
  }

  .mailing-list__container {
    padding-bottom: 6.25rem;
  }

  .prioritise__container {
    padding-top: 9.375rem;
  }

  .prioritise__container {
    padding-bottom: 9.375rem;
  }
}

@media (max-width: 48em) {
  .header__inner {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .footer__inner {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer__products,
  .footer__company {
    -ms-grid-row-span: 3;
    grid-row: span 3;
  }

  .footer__contacts {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }

  .footer__copy {
    margin-right: 7.5rem;
  }

  .blockquote__text {
    max-width: 40rem;
  }

  .assortment__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .reviews__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem 4.75rem;
  }

  .reviews__item:last-child {
    display: block;
  }

  .main-blog__list {
    gap: 1.875rem 1.25rem;
  }

  .main-blog__item {
    -ms-flex-preferred-size: 33.875rem;
        flex-basis: 33.875rem;
    /*&__item:nth-child(even) {
    	margin-left: toRem(98);
    }*/
  }

  .main-blog__item:nth-child(even) {
    margin-left: 6.125rem;
  }

  .main-blog__item-img {
    max-width: 16.875rem;
  }

  .mailing-list__text {
    -ms-flex-preferred-size: 40rem;
        flex-basis: 40rem;
  }

  .prioritise__list {
    gap: 1.875rem 8.3125rem;
  }
}

@media (max-width: 30em) {
  .menu__list {
    max-width: 15.625rem;
  }

  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__products {
    margin-right: auto;
    padding-right: 1.25rem;
  }

  .footer__contacts {
    margin-top: 3.125rem;
    width: 100%;
  }

  .footer__products-title {
    margin-bottom: 1.875rem;
  }

  .footer__company {
    padding-right: 1.25rem;
    margin-right: 3.4375rem;
  }

  .footer__company-title {
    margin-bottom: 1.875rem;
  }

  .footer__blockquote {
    width: 100%;
  }

  .footer__blockquote-text {
    margin-bottom: 0.625rem;
    margin-top: 3.125rem;
  }

  .footer__contacts {
    width: 100%;
    text-align: center;
  }

  .footer__contacts-title {
    margin-bottom: 1.25rem;
  }

  .footer__nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer__social {
    margin-left: 1.875rem;
  }

  .footer__copy {
    margin-right: auto;
  }

  .reviews__list {
    gap: 1.875rem 1.25rem;
  }

  .main-blog__item-img {
    max-width: 14.375rem;
  }

  .mailing-list__inner {
    gap: 1.875rem 0;
  }

  .mailing-list__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    font-size: 0.8125rem;
  }

  .mailing-list__email {
    width: 20rem;
    margin-right: 1.25rem;
  }

  .mailing-list__btn {
    padding: 0.625rem 1.875rem;
  }
}

@media (max-width: 20em) {
  .header__inner {
    padding-top: 0.625rem;
  }

  .header__inner {
    padding-bottom: 0.625rem;
  }

  .footer__container {
    padding-top: 3.125rem;
  }

  .footer__container {
    padding-bottom: 0.625rem;
  }

  .assortment__container {
    padding-top: 3.125rem;
  }

  .assortment__container {
    padding-bottom: 3.125rem;
  }

  .reviews__container {
    padding-top: 1.875rem;
  }

  .reviews__container {
    padding-bottom: 1.875rem;
  }

  .main-blog__container {
    padding-top: 3.125rem;
  }

  .main-blog__container {
    padding-bottom: 3.125rem;
  }

  .mailing-list__container {
    padding-top: 3.125rem;
  }

  .mailing-list__container {
    padding-bottom: 3.125rem;
  }

  .prioritise__container {
    padding-top: 3.125rem;
  }

  .prioritise__container {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 73.75em) {
  .main-blog__list {
    gap: 4.1875rem 1.25rem;
  }
}

@media (max-width: 62.5em) {
  .header__inner {
    min-height: auto;
  }

  .header__logo {
    margin-bottom: 0;
  }

  .menu {
    margin-right: auto;
  }

  .menu__list {
    margin-left: 3.75rem;
  }

  .user-actions__item-search {
    margin-left: 1.875rem;
  }

  .footer__inner {
    margin-bottom: 3.4375rem;
  }

  .footer__blockquote {
    width: 16.875rem;
  }

  .footer__blockquote-text {
    margin-top: 0;
  }

  .footer__contacts {
    width: 16.875rem;
  }

  .footer__nav-logo {
    margin-right: 1.25rem;
  }

  .footer__copy {
    margin-right: 5.3125rem;
  }

  .blockquote__text {
    margin-top: 7.5rem;
    margin-bottom: 8.4375rem;
  }

  .assortment__title {
    margin-bottom: 1.875rem;
  }

  .assortment__list {
    gap: 0;
  }

  .reviews__item:last-child {
    display: none;
  }

  .main-blog__item {
    -ms-flex-preferred-size: 28.75rem;
        flex-basis: 28.75rem;
  }

  .main-blog__item-img {
    max-width: 14.375rem;
  }

  .main-blog__link {
    margin-top: 3.75rem;
  }

  .mailing-list__title {
    text-align: center;
  }

  .mailing-list__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mailing-list__text {
    text-align: center;
    -ms-flex-preferred-size: 48.75rem;
        flex-basis: 48.75rem;
  }

  .prioritise__list {
    gap: 1.875rem 13.125rem;
  }
}

@media (max-width: 53.75em) {
  .header__logo {
    margin-left: auto;
    margin-right: auto;
  }

  .menu {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 0;
  }

  .menu__body {
    padding: 5rem 0.9375rem 1.5625rem 0.9375rem;
    row-gap: 2.5rem;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 83%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    overflow: auto;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    top: 0;
    left: -100%;
    background-color: #fff;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
    z-index: 2;
  }

  .menu-open .menu__body {
    top: 0;
  }

  .menu-open .menu__body::before {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }

  .menu__item {
    margin-bottom: 1.875rem;
    font-family: Cormorant;
    font-size: 1.5rem;
  }

  .menu__close-btn {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }

  .mobail-menu {
    padding-top: 3.75rem;
    margin: 3.75rem 1.875rem;
    border-top: 0.125rem solid #f7f2ea;
  }

  .mobail-menu__item {
    margin-bottom: 2.1875rem;
  }

  .mobile-nav,
  .menu__close {
    display: block;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 53.75em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .header__logo img {
    width: 2.5rem;
  }
}

@media (max-width: 42.5em) {
  .header__container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .header__inner {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .top__container {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .top__title {
    font-size: 2.5rem;
    line-height: normal;
  }

  .blockquote__text {
    font-size: 1rem;
    max-width: 23.5rem;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
  }

  .main-blog__item:nth-child(even) {
    margin-left: 0rem;
  }
}

@media (max-width: 41.875em) {
  .reviews__item {
    -ms-flex-preferred-size: 13.75rem;
        flex-basis: 13.75rem;
  }
}

@media (max-width: 29.99875em) {
  .user-actions__item-search {
    margin-left: 0rem;
  }
}

@media (max-width: 28.125em) {
  .title {
    font-size: 1.5rem;
  }

  .assortment__title {
    margin-bottom: 1.4375rem;
  }

  .assortment__img {
    max-width: 8.75rem;
  }
}

@media (max-width: 23.75em) {
  .reviews__title {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 22.5em) {
  .title {
    margin-bottom: 0.625rem;
  }

  .footer__products {
    padding-right: 0.625rem;
  }

  .footer__company {
    padding-right: 0.9375rem;
    margin-right: 0rem;
  }

  .footer__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__social {
    margin-left: auto;
    margin-right: auto;
  }

  .top__inner {
    min-height: 22.9375rem;
  }

  .top__title {
    font-size: 1.5rem;
    margin-bottom: 0.625rem;
  }

  .top__text {
    font-size: 0.8125rem;
    margin-bottom: 1.875rem;
  }

  .blockquote__text {
    max-width: 21.25rem;
    margin-top: 4.375rem;
    margin-bottom: 5rem;
  }

  .reviews__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .reviews__item:last-child,
  .reviews__item:first-child {
    display: none;
  }

  .main-blog__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-blog__item {
    display: block;
    max-width: 16.875rem;
  }

  .main-blog__item:nth-child(even) {
    display: none;
  }

  .main-blog__item-img {
    max-width: 100%;
  }

  .main-blog__item-author {
    margin-bottom: 0.9375rem;
  }

  .mailing-list__email {
    width: 12.8125rem;
  }

  .prioritise__title {
    margin-bottom: 1.875rem;
  }

  .prioritise__list {
    gap: 2.5rem 6.25rem;
  }

  .prioritise__title-list {
    font-size: 1.25rem;
  }

  .prioritise__text {
    font-size: 0.625rem;
    font-weight: 400;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (padding-top: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .header__inner {
      padding-top: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .header__inner {
      padding-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .header__inner {
      padding-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.1854395604rem  +  2.1978021978vw , 1.875rem )) {
    .header__inner {
      padding-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .footer__container {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .footer__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .footer__container {
      padding-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4052197802rem  +  1.0989010989vw , 1.25rem )) {
    .footer__container {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .assortment__container {
      padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .assortment__container {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .assortment__container {
      padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .assortment__container {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .reviews__container {
      padding-top: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .reviews__container {
      padding-top: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .reviews__container {
      padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .reviews__container {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .main-blog__container {
      padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .main-blog__container {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .main-blog__container {
      padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .main-blog__container {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .mailing-list__container {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .mailing-list__container {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .mailing-list__container {
      padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .mailing-list__container {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .prioritise__container {
      padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .prioritise__container {
      padding-top: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .prioritise__container {
      padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .prioritise__container {
      padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }

  .footer__social-link:hover {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }

  .assortment__img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .main-blog__item-img:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .main-blog__item-link:hover {
    color: #fe0000;
  }

  .main-blog__link:hover {
    background-color: #b8b58b;
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
  }
}